include *.in
include *.ini
include *.rst
include *.txt

include LICENSE
include Makefile

recursive-include src *.py *.pyx *.px[di] *.h
recursive-include tests *.py *.pyx *.px[di] *.h
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

global-exclude __pycache__ *.pyc *.pyo *.so
