include MANIFEST.in
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include TODO.rst

recursive-include {{cookiecutter.project_slug}} *.pyx *.px[di] *.h *.c
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

global-exclude __pycache__ *.pyc *.pyo *.so
